<h1>Todo app</h1>

<div class="mat-elevation-z8">
  <form (ngSubmit)="add(newTodo)">
      <mat-form-field>
        <input #description
          matInput 
          placeholder="Description" 
          (keyup)="newTodo.description = description.value">
      </mat-form-field>
      <button mat-button type="submit" color="primary">Add</button>
  </form>  

  <table mat-table #table [dataSource]="todos">    
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let todo">
          <mat-icon 
            (click)="finish(todo)"
            [ngClass]="{'selectable': !todo.done}">
            {{mapToIcon(todo.done)}}
          </mat-icon>
      </td>
    </ng-container>
    
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let todo" [ngClass]="{'done': todo.done}">{{todo.description}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['status', 'description']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['status', 'description'];"></tr>
  </table>
</div>
