h1 {
  text-align: center;
}

.mat-elevation-z8 {
  margin: 0 30%;
  padding-top: 1rem;
}

form {
  margin: 0 1rem;
}

.mat-table {
  width: 100%;
  mat-icon.selectable {
    cursor: pointer;
    &:hover {
      color: #3f51b5;
    }
  }
  td.done {
    text-decoration: line-through;
  }
}
